.conteudo {
    width: 1000px;
    margin-left: 50px;
    margin-top: 30px;
text-align: justify;
padding-right: 10px;

p {
    margin-top: 30px;
    color: #192F43;
    font-size: 20px;
}
    
h1 {
    color: #192F43;
    text-shadow: 1px 1px 2px ;
    font-size: 35px;
}

h2 {
    color: #192F43;
    margin-top: 50px;
    text-shadow: 1px 1px 2px ;
}

ul {
    color: #192F43;
    list-style-type: square;
    margin-left: 17px;
    padding: 10px 0px;
    margin-top: 20px ;
    font-weight: bold;
    
}

h3 {
    margin-top: 20px;
    color: #192F43;
    text-shadow: 0px 0px 1px ;
}

span {
    color: #192F43;
    
}
}




img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: lightgray;
    margin-left: 20px;
    margin-top: 20px;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
    margin-top: 460px;
}

body {
    background-color: #C1E1FF;
}
